h1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.row{
    margin: 10px 7px;
}
.todo-container{
    margin: 15px;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    background-color: azure;
}
.sbtn{
    width: 65px;
}
.container{
    text-align: left;
    width: 102%;
}

@media (max-width: 522px){
    .container{
        text-align: left;
        width: 83%;
    }
    .row{
        margin: 10px -19px;
        width: 260px;
    }
    .myinput{
         width: 116px; 
        position: relative; 
         right: 40px; 
    }
    .sbtnad{
        width: 54px;
    }
}